interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A103001002300F900+OR+id%3A103001002300F900%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1&left=-180.0&right=180.0&lower=-90.0&upper=90.0
  response:
    body: {string: '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-121.286417,37.68658632],[-121.27191408,37.84969691],[-121.17503734,37.84995898],[-121.19079726,37.68574612],[-121.286417,37.68658632]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2013-06-03T19:28:04.717Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"name":null,"format":null,"ingest_date":"2018-02-08T07:17:15.506Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2013-06-03T19:28:04.717Z","bucketName":"rda-images-1","numBands_int":8,"sunAzimuth_dbl":151.1,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"3a1846b9-7b5b-4c3c-8344-15cbe9eeff10","satAzimuth_dbl":222.5,"satElevation_dbl":68.7,"pniirs_dbl":3.0,"numYTiles_int":17,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":73.1,"platformName":"WORLDVIEW02","imageHeight_int":4175,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":18.9,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.0","tileYOffset_int":0,"catalogID":"103001002300F900","vendorDatasetIdentifier":"LV1B:057548162010_01_P011:103001002300F900:A0100103447E6600","groundSampleDistanceMeters_dbl":2.056},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"3a1846b9-7b5b-4c3c-8344-15cbe9eeff10","source":null,"text":""}}]'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"edges": [{"destination": "0ecd753f-5067-5beb-806e-21cd98c5eddb", "id":
      "96618338-7269-5167-a2ed-a7a9acafc831", "index": 1, "source": "f7ff59a4-415f-57e9-a2b0-0be66fed321c"}],
      "nodes": [{"id": "0ecd753f-5067-5beb-806e-21cd98c5eddb", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "f7ff59a4-415f-57e9-a2b0-0be66fed321c",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "103001002300F900", "correctionType": "TOAREFLECTANCE",
      "fallbackToTOA": "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: e7576e23e5c71262476ec043dfbbeda3183851fbb4fe203157dbe175a2144cf8}
    headers:
      Content-Type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/e7576e23e5c71262476ec043dfbbeda3183851fbb4fe203157dbe175a2144cf8/0ecd753f-5067-5beb-806e-21cd98c5eddb/metadata.json
  response:
    body: {string: '{"imageMetadata":{"imageId":"ef899224-edc7-4e43-a03a-858619e56631","version":1.0,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":311,"numYTiles":38,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":9571,"imageWidth":79394,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057548162010_01_P001:103001002300F900:A0100103447CEF00","acquisitionDate":"2013-06-03T19:27:53.301Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-122.5372502 37.84995898, -121.17502831713978 37.84995898, -121.17502831713978
        37.68574221751347, -122.5372502 37.68574221751347, -122.5372502 37.84995898))","groundSampleDistanceMeters":1.91,"minX":0,"minY":0,"maxX":79393,"maxY":9570,"minTileX":0,"minTileY":0,"maxTileX":310,"maxTileY":37,"sunAzimuth":147.5,"sunElevation":72.5,"satAzimuth":202.0,"satElevation":79.0,"cloudCover":0.075,"offNadirAngle":9.7,"sensorAlias":"WV02_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.009295654,0.01783568,0.01364197,0.006810718,0.01851735,0.006063145,0.02050828,0.009042234],"effectiveBandwidths":[0.0473,0.0543,0.063,0.0374,0.0574,0.0393,0.0989,0.0996],"tdiLevels":[24.0,10.0,10.0,18.0,6.0,18.0,6.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.1},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.7157743442328423E-5,"scaleY":-1.7157743442328423E-5,"translateX":-122.5372502,"translateY":37.84995898,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,26,0,0,0,0,0,0,0,0,0,0,0,0,0,3,34,0,0,0,0,0,0,0,0,0,0,0,0,0,26,0,0,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0,0,0,0,0,0,0,0,0,0,36,0,0,0,0,0,0,0,0,0,0,0,0,0,24,0,0,0,0,0,0,0,0,0,0,0,0,0,43,0,0,0,0,0,0,0,0,0,0,0,0,0,27,0,0,0,0,0,0,0,0,0,0,0,0,0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,22,0,0,0,0,0,0,0,0,0,0,0,0,0,36,0,0,0,0,0,0,0,0,0,0,0,0,0,21,13,0,0,0,0,0,0,0,0,0,0,0,0,15,21,0,0,0,0,0,0,0,0,0,0,0,0,7,27,0,0,0,0,0,0,0,0,0,0,0,0,3,27,0,0,0,0,0,0,0,0,0,0,0,0,4,33,0,0,0,0,0,0,0,0,0,0,0,0,4,41,0,0,0,0,0[...]
- request:
    body: "--4a29a5afa0f4221b8bd001ee9e0f21d8\r\nContent-Disposition: form-data; name=\"metadata\"\r\nContent-Type:
      application/json\r\n\r\n{\"name\": \"name2\", \"description\": \"\", \"dtype\":
      \"float32\", \"imshape\": [8, 256, 256], \"mltype\": \"classification\", \"public\":
      false, \"partition\": [100, 0, 0], \"sensors\": [\"WV02\"], \"classes\": [],
      \"bounds\": null, \"background_ratio\": 2.0}\r\n--4a29a5afa0f4221b8bd001ee9e0f21d8\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"vedazylirbfijson\"\r\nContent-Type: application/text\r\n\r\n{\"features\":
      [{\"type\": \"Feature\", \"properties\": {\"Name\": null, \"label\": \"american_football_field\"},
      \"geometry\": {\"type\": \"Polygon\", \"coordinates\": [[[-122.4907898268108,
      37.778191163762486], [-122.49129463633359, 37.7781838052681], [-122.49133721678479,
      37.77898525977172], [-122.49083240181278, 37.778992618408225], [-122.4907898268108,
      37.778191163762486]]]}}, {\"type\": \"Feature\", \"properties\": {\"Name\":
      null, \"label\": \"american_football_field\"}, \"geometry\": {\"type\": \"Polygon\",
      \"coordinates\": [[[-122.1102008575904, 37.8440139386442], [-122.1113937618264,
      37.843225245649634], [-122.11200867572458, 37.84375777445076], [-122.11075646129174,
      37.84455775662023], [-122.1102008575904, 37.8440139386442]]]}}]}\r\n--4a29a5afa0f4221b8bd001ee9e0f21d8\r\nContent-Disposition:
      form-data; name=\"options\"\r\nContent-Type: application/json\r\n\r\n{\"match\":
      \"INTERSECT\", \"default_label\": null, \"label_field\": null, \"cache_type\":
      \"stream\", \"workers\": 1, \"graph\": \"e7576e23e5c71262476ec043dfbbeda3183851fbb4fe203157dbe175a2144cf8\",
      \"node\": \"0ecd753f-5067-5beb-806e-21cd98c5eddb\"}\r\n--4a29a5afa0f4221b8bd001ee9e0f21d8--\r\n"
    headers:
      Content-Type: [multipart/form-data; boundary=4a29a5afa0f4221b8bd001ee9e0f21d8]
    method: POST
    uri: https://veda-api-development.geobigdata.io/data
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA72T22rcMBCG30XXdqz4sF183Q0UWhpo2l6EEMbSeC0iS6oOgWXbd+9I3Q2U3LSU
        rcAeWYf5v/klH1k8OGQju0GIySOr2B7titEf2Hg8T35IOqpbqw97a2iFsNZLZSBiYOM9NZO0rvLr
        ofrLPrUfFXPeOvRR5XxHJjSEUFI/VGwC8bT3Nhn56CEqy8a2YhKD8MrRpyE6IpIn0FlbiF1LIymg
        fydpCFJc+PcBxNCKYcN53w1v+r7n26Gb27xSrWGBvPt+W7XDJj+k61EjFIojAa76JFDY1KwEFPGK
        BTTB+gzLvn7hLaOtLk1aiUwDOmRHvyVML/XkUk59A2vOmUMBybgSu65DGOpJ8uu672asJz7zeith
        03eyH9rrthxBMpGNnNSAjPvlRM5JPgo08VGAWJASFquZVuapeBtQzzkuHimyJUYXxqZ5Rgk1OFVL
        fEZt3UoprugiTGovIcKVsk2OzR/RkV/J0XK8tBCdC8bFZttuP99l3WJ9WC4s3JxlXgNIujb/tfC3
        u/e7u12WFh7/yXNnlYnht5o+fipFnf6FS7t6lnlFQO0nPkhJLagEAAA=
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"4a8-jnxaD8KOUOx5oH67nsAn/gLTDR4"]
    status: {code: 201, message: Created}
version: 1
